 .main-head {
   background: #288abb;
   .container {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     align-items: center;
     color: #fff;
     font-size: 12px;
     font-weight: 400;
     span {
       display: inline-block;
       padding: 8px;
     }
     a {
       display: inline-block;
       padding: 8px;
       color: #fff;
       transition: all 0.15s ease-out;
       &:first-child {
         border-right: 1px solid #4cadde;
       }
       &:hover {
         text-decoration: none;
         opacity: 0.8;
       }
     }
   }
 }
 
 .main-header {
   padding: 10px 0;
   background-color: #fff;
   .container {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     align-items: center;
   }
 }
 
 .main-header__logo {
   display: inline-block;
   img {
     display: inline-block;
     max-width: 100%;
     transition: all 0.15s ease-out;
   }
   &:hover {
     text-decoration: none;
     img {
       opacity: 0.8;
     }
   }
 }
 
 .main-header__nav {
   a {
     display: inline-block;
     padding: 20px 25px;
     border-bottom: 2px solid transparent;
     color: #8d8d8d;
     font-size: 20px;
     font-weight: 400;
     transition: all 0.15s ease-out;
     input {
       outline: none;
     }
     input::-webkit-search-decoration,
     input::-webkit-search-cancel-button {
       display: none;
     }
     input[type=search] {
       -webkit-appearance: textfield;
       -webkit-box-sizing: content-box;
       font-family: inherit;
       font-size: 100%;
       background: transparent url('../images/icon_search.png') no-repeat center;
       border: solid 2px transparent;
       border-radius: 999rem;
       padding: 9px 10px 9px 32px;
       width: 55px;
       transition: all .5s;
     }
     input[type=search]:focus {
       width: 160px;
       background-color: #fff;
       border-color: #2889ba;
     }
     input[type=search] {
       width: 15px;
       padding-left: 10px;
       color: transparent;
       cursor: pointer;
     }
     input[type=search]:hover {
       background-color: #fff;
     }
     input[type=search]:focus {
       width: 130px;
       padding-left: 32px;
       color: #000;
       background-color: #fff;
       cursor: auto;
       background: #f0f0f0;
       &:-moz-placeholder {
         color: #747474;
       }
       &::-webkit-input-placeholder {
         color: #747474;
       }
     }
     input:-moz-placeholder {
       color: transparent;
     }
     input::-webkit-input-placeholder {
       color: transparent;
     }
     &:hover {
       border-color: #288abb;
       color: #288abb;
       text-decoration: none;
       opacity: 0.8;
     }
     &:last-child:hover {
       border-color: transparent;
     }
   }
 }
 
 .main-header__nav_active {
   border-color: #288abb !important;
   color: #288abb !important;
 }
 
 .main-slider__title {
   display: block;
   max-width: 465px;
   color: #fff;
   font-size: 42px;
   font-weight: 700;
   text-align: left;
 }
 
 .main-title {
   display: block;
   margin-bottom: 40px;
   color: #2889ba;
   font-size: 44px;
   font-weight: 700;
   text-align: center;
 }
 
 .home-solutions {
   padding: 30px 0;
   &__text {
     display: block;
     margin-bottom: 30px;
     text-align: center;
     color: #252525;
     font-size: 16px;
     font-weight: 400;
   }
 }
 
 .home-solutions__cards {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
 }
 
 .home-solutions__card {
   display: inline-flex;
   flex-flow: column nowrap;
   justify-content: space-between;
   align-items: center;
   max-width: 250px;
   margin-bottom: 10px;
   padding: 20px 15px 30px;
   background-color: #dfdfdf;
   text-align: center;
   transition: all 0.15s ease-out;
   img {
     display: block;
     max-width: 100%;
     transition: all 0.5s ease-out;
   }
   span {
     display: block;
     height: 25px;
     overflow: hidden;
     margin: 25px 0 10px;
     color: #2889ba;
     font-size: 18px;
     font-weight: 700;
   }
   p {
     display: block;
     height: 110px;
     overflow: hidden;
     margin-bottom: 20px;
     color: #252525;
     font-size: 16px;
     font-weight: 400;
   }
   &:hover {
     opacity: 0.8;
     text-decoration: none;
     img {
       transform: rotate(360deg);
     }
   }
 }
 
 .home-road {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   min-height: 610px;
   background: url('../images/home_1.png') no-repeat center;
   background-size: cover;
 }
 
 .home-road__block {
   display: inline-flex;
   flex-flow: column nowrap;
   max-width: 480px;
   padding: 60px 40px;
   align-items: center;
   text-align: center;
   img {
     display: block;
     max-width: 100%;
   }
   span {
     display: block;
     margin: 20px 0 50px;
     color: #737373;
     font-size: 24px;
     font-weight: 400;
   }
   p {
     margin-bottom: 50px;
     color: #565656;
     font-size: 16px;
     font-style: italic;
   }
   a {
     display: inline-block;
     padding: 10px 14px;
     border-radius: 10px;
     background-color: #2889ba;
     color: #fff;
     font-size: 16px;
     font-weight: 700;
     transition: all 0.15s ease-out;
     &:hover {
       opacity: 0.8;
       text-decoration: none;
     }
   }
 }
 
 .home-reviews {
   min-height: 660px;
   padding: 20px 0 80px;
   background: url('../images/home_2.png') no-repeat center;
   background-size: 100% 100%;
 }
 
 .home-reviews__title {
   display: block;
   max-width: 750px;
   margin: 0 auto 30px;
   font-size: 30px;
   color: #252525;
   font-weight: 700;
   text-align: center;
   span {
     color: #737373;
     font-weight: 400;
   }
 }
 
 .home-reviews__content {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
 }
 
 .home-reviews__img {
   display: inline-block;
   img {
     display: inline-block;
     max-width: 100%;
   }
 }
 
 .home-reviews__text {
   max-width: 530px;
   a {
     display: inline-block;
     margin-top: 10px;
     padding: 10px 14px;
     border-radius: 10px;
     background-color: #2889ba;
     color: #fff;
     font-size: 16px;
     font-weight: 700;
     transition: all 0.15s ease-out;
     &:hover {
       opacity: 0.8;
       text-decoration: none;
     }
   }
 }
 
 .home-reviews__card {
   display: block;
   margin-bottom: 10px;
   border-bottom: 1px solid #2889ba;
   p {
     display: block;
     padding: 20px 20px 30px;
     background: url('../images/review.png') no-repeat center;
     background-size: 100% 100%;
     color: #747474;
     font-size: 16px;
     font-style: italic;
   }
   span {
     display: block;
     margin-bottom: 20px;
     color: #737373;
     font-size: 16px;
   }
 }
 
 .home-partners {
   padding: 20px 30px;
 }
 
 .home-partners__cards {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
   a {
     display: inline-block;
     img {
       display: inline-block;
       max-width: 100%;
       transition: all 0.15s ease-out;
     }
     &:hover {
       text-decoration: none;
       img {
         -webkit-filter: grayscale(100%);
         opacity: 0.8;
       }
     }
   }
 }
 
 .main-footer {
   padding: 40px 0;
   background-color: #363839;
   border-top: 10px solid #c5c5c5;
   transition: all 0.15s ease-out;
   .container {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
   }
   &:hover {
     background-color: #282a2b;
     border-top: 5px solid #2889ba;
   }
 }
 
 .main-footer__info {
   span {
     display: block;
     margin-bottom: 20px;
     font-weight: 400;
     color: #fff;
     font-size: 20px;
   }
   p {
     margin: 0;
     font-weight: 400;
     color: #bebebe;
     font-size: 14px;
     line-height: 1.5;
   }
 }
 
 .main-footer__social {
   display: block;
   span {
     display: block;
     margin-bottom: 15px;
     color: #fff;
     font-size: 20px;
     font-weight: 400;
   }
 }
 
 .main-footer__social-links {
   display: block;
   a {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 32px;
     height: 32px;
     margin-right: 10px;
     border-radius: 4px;
     background-color: #46494a;
     color: #fff;
     font-size: 20px;
     transition: all 1s ease-out;
     &:hover {
       background-color: #2889ba;
       text-decoration: none;
       transform: rotate(360deg);
     }
   }
 }
 
 .main-footer__call {
   display: inline-block;
   max-width: 360px;
   font-size: 33px;
   color: #fff;
   font-weight: 700;
   span {
     color: #bebebe;
     font-weight: 400;
   }
 }
 
 .main-footer__links {
   nav {
     a {
       display: block;
       margin-bottom: 10px;
       color: #bebebe;
       font-size: 14px;
       font-weight: 400;
       transition: all 0.15s ease-out;
       &:hover {
         color: #fff;
         text-decoration: none;
       }
     }
   }
 }
 
 .main-foot {
   padding: 14px 0;
   background-color: #282a2b;
   color: #bebebe;
   font-size: 12px;
   font-weight: 400;
   text-align: center;
 }
 
 .page-top {
   width: 100%;
   background: url('../images/services_1.jpg') no-repeat center;
   background-size: cover;
   .container {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     min-height: 500px;
   }
   &_expert {
     background: url('../images/expert_1.jpg') no-repeat center;
     .page-top__content {
       text-align: left;
     }
   }
   &_professional {
     background: url('../images/professional_1.jpg') no-repeat center;
     .page-top__content {
       text-align: center;
     }
   }
   &_contact {
     background: url('../images/contact_1.jpg') no-repeat center;
     .page-top__content {
       text-align: center;
     }
   }
   &_ind {
     background: url('../images/ind_1.jpg') no-repeat center;
     .page-top__content {
       text-align: center;
     }
   }
   &_cloud {
     background: url('../images/cloud_1.jpg') no-repeat center;
     .page-top__content {
       text-align: center;
       text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
     }
   }
 }
 
 .page-top__content {
   width: 500px;
   color: #fff;
   font-size: 42px;
   font-weight: 700;
   text-align: center;
 }
 
 .services-about {
   min-height: 300px;
   padding: 30px 40px 70px;
   background: url('../images/home_2.png') no-repeat bottom;
   background-size: cover;
   color: #252525;
   font-size: 16px;
   font-weight: 400;
   text-align: center;
   .main-title {
     margin-bottom: 20px;
   }
 }
 
 .services-road {
   min-height: 400px;
   padding: 40px;
   padding-top: 0;
   background: url('../images/home_2.png') no-repeat bottom;
   background-size: cover;
 }
 
 .services-road__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
 }
 
 .services-road__img {
   display: inline-block;
   max-width: 500px;
   img {
     display: inline-block;
     max-width: 100%;
   }
 }
 
 .services-road__text {
   max-width: 460px;
   span {
     display: block;
     margin-bottom: 30px;
     color: #252525;
     font-size: 38px;
     font-weight: 700;
   }
   p {
     color: #565656;
     font-size: 16px;
     font-style: italic;
   }
 }
 
 .expert-about {
   padding: 30px 40px;
   color: #252525;
   font-size: 16px;
   font-weight: 400;
   text-align: center;
   .main-title {
     margin-bottom: 20px;
   }
 }
 
 .expert-what {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 45px;
   color: #252525;
   font-family: "Trebuchet MS";
   font-size: 16px;
   font-weight: 400;
   img {
     display: inline-block;
     max-width: 100%;
   }
   ul {
     margin: 0;
     margin-left: 20px;
     margin-bottom: 35px;
     padding: 0;
   }
   div:first-child {
     max-width: 550px;
   }
 }
 
 .expert-road {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   min-height: 515px;
   padding: 60px 40px 80px;
   background: url('../images/expert_2.png') no-repeat center;
   background-size: cover;
 }
 
 .expert-road__text {
   max-width: 620px;
   color: #fff;
   font-size: 16px;
   span {
     display: block;
     margin-bottom: 25px;
     text-align: center;
     color: #fff;
     font-size: 30px;
     font-weight: 700;
   }
   p {
     margin-bottom: 30px;
     font-style: italic;
   }
 }
 
 .professional-about {
   min-height: 250px;
   padding: 30px 40px 70px;
   background: url('../images/home_2.png') no-repeat bottom;
   background-size: cover;
   color: #252525;
   font-size: 16px;
   font-weight: 400;
   text-align: center;
   .main-title {
     margin-bottom: 20px;
   }
 }
 
 .professional-road {
   min-height: 550px;
   padding: 40px;
   background: url('../images/home_2.png') no-repeat bottom;
   background-size: cover;
   color: #252525;
   font-size: 16px;
   font-weight: 400;
   img {
     display: block;
     max-width: 100%;
     margin: 0 auto;
   }
   h2 {
     display: block;
     margin-bottom: 20px;
     color: #252525;
     font-size: 30px;
     font-weight: 700;
     text-align: center;
   }
   li {
     margin-bottom: 20px;
   }
 }
 
 .professional-formula {
   padding: 20px 0 40px;
   color: #252525;
   font-size: 16px;
   font-weight: 400;
   img {
     display: block;
     max-width: 100%;
     margin: 0 auto;
   }
   h2 {
     display: block;
     max-width: 380px;
     margin: 0 auto 20px;
     color: #252525;
     font-size: 30px;
     font-weight: 700;
     text-align: center;
   }
   p {
     max-width: 570px;
   }
 }
 
 .professional-profit {
   min-height: 370px;
   padding: 40px 20px;
   background: url('../images/professional_03.png') no-repeat bottom;
   background-size: cover;
   color: #fff;
   font-size: 16px;
   font-weight: 400;
   h2 {
     display: block;
     margin-bottom: 25px;
     text-align: center;
     color: #fff;
     font-size: 30px;
     font-weight: 700;
   }
 }
 
 .main-header__drop-menu {
   display: none;
   position: absolute;
   min-width: 200px;
   top: 100%;
   padding: 6px 12px;
   background: black;
   z-index: 1;
   a {
     width: 100%;
     padding: 3px;
     border: none;
     color: #eee;
     font-size: 14px;
     font-weight: bold;
     transition: all .2s ease-out;
     &:hover {
       color: white;
     }
   }
 }
 
 .main-header__drop-toggle {
   display: inline-block;
   position: relative;
 }
 
 .main-header__drop-toggle:hover .main-header__drop-menu {
   display: block;
 }
 
 .contact-about {
   padding: 30px 40px;
   color: #252525;
   font-size: 16px;
   font-weight: 400;
   text-align: center;
   .main-title {
     margin-bottom: 20px;
   }
 }
 
 .contact-form_bg {
   background: url('../images/home_2.png') no-repeat bottom;
 }
 
 .contact-form {
   display: flex;
   position: relative;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: flex-start;
   max-width: 940px;
   margin: 0 auto;
   padding-bottom: 80px;
   input {
     padding: 30px 30px 30px 50px;
     outline: none;
     border: 1px solid #dfe2e2;
     border-radius: 3px;
     font-size: 16px;
     transition: all 0.2s ease-out;
     &:focus {
       border-color: #2889ba;
     }
   }
   textarea {
     margin-top: 20px;
     padding: 30px 30px 30px 50px;
     outline: none;
     border: 1px solid #dfe2e2;
     border-radius: 3px;
     font-size: 16px;
     transition: all 0.2s ease-out;
     &:focus {
       border-color: #2889ba;
     }
   }
   button {
     display: inline-block;
     padding: 26px 115px;
     margin-top: 20px;
     background: #2889ba;
     border: none;
     color: #ffffff;
     font-family: Arial;
     font-size: 18px;
     font-weight: 400;
     text-transform: uppercase;
     transition: all 0.2s ease-out;
     &:hover {
       background-color: #252525;
     }
   }
 }
 
 .block-right {
   display: flex;
   width: 100%;
   flex-flow: row wrap;
   justify-content: flex-end;
 }
 
 .contact-form_1 {
   display: block;
   width: 32%;
   background: url('../images/input_1.png') no-repeat;
   background-position: 15px 30px;
 }
 
 .contact-form_2 {
   display: block;
   width: 32%;
   background: url('../images/input_2.png') no-repeat;
   background-position: 15px 30px;
 }
 
 .contact-form_3 {
   display: block;
   width: 32%;
   background: url('../images/input_3.png') no-repeat;
   background-position: 15px 30px;
 }
 
 .contact-form_4 {
   display: block;
   width: 100%;
   background: url('../images/input_4.png') no-repeat;
   background-position: 15px 30px;
 }
 
 .ind-road {
   padding: 40px;
 }
 
 .ind-road__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 .ind-road__img {
   display: inline-block;
   max-width: 500px;
   img {
     display: inline-block;
     max-width: 100%;
   }
 }
 
 .ind-road__text {
   max-width: 460px;
   span {
     display: block;
     margin-bottom: 30px;
     color: #252525;
     font-size: 38px;
     font-weight: 700;
     text-align: center;
   }
   p {
     color: #252525;
     font-size: 16px;
   }
 }
 
 .ind-retail {
   display: block;
   width: 100%;
   padding: 55px 25px 40px;
   background: url('../images/ind_02.jpg') no-repeat center;
   background-size: cover;
 }
 
 .ind-retail__content {
   display: block;
   max-width: 570px;
   span {
     display: block;
     margin-bottom: 30px;
     text-align: center;
     color: #ffffff;
     font-family: "Trebuchet MS";
     font-size: 30px;
     font-weight: 700;
   }
   p {
     margin-bottom: 30px;
     color: #ffffff;
     font-family: "Trebuchet MS";
     font-size: 16px;
     font-weight: 400;
   }
 }
 
 .ind-care {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 50px 30px 70px 50px;
   background: url('../images/ind_03.png') no-repeat center;
   background-size: cover;
 }
 
 .ind-care__content {
   display: block;
   max-width: 520px;
   span {
     display: block;
     margin-bottom: 30px;
     text-align: center;
     color: #252525;
     font-family: "Trebuchet MS";
     font-size: 30px;
     font-weight: 700;
   }
   p {
     color: #252525;
     font-family: "Trebuchet MS";
     font-size: 16px;
     font-weight: 400;
   }
 }
 
 .cloud-title {
   display: block;
   margin-top: 20px;
   color: #252525;
   font-family: "Trebuchet MS";
   font-size: 30px;
   font-weight: 700;
   text-align: center;
 }
 
 .cloud-about {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
   padding: 20px 45px 80px 45px;
   background: url('../images/cloud_02.png') no-repeat bottom;
   background-size: cover;
   div {
     max-width: 48%;
   }
   img {
     max-width: 100%;
   }
   &__text {
     font-family: "Trebuchet MS";
     font-size: 16px;
     color: #565656;
     font-weight: 400;
     strong {
       color: #2889ba;
       font-weight: 700;
     }
   }
 }