@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-head .container {
    justify-content: space-around;
    text-align: center;
  }
  .main-header__logo {
    max-width: 150px;
  }
  .main-header {
    padding: 10px 0;
  }
  .main-header__nav {
    text-align: center;
  }
  .main-header__nav a {
    padding: 12px 24px;
  }
  .carousel-caption {
    top: 10px;
  }
  .main-slider__title {
    padding: 20px;
    font-size: 24px;
  }
  .carousel-inner>.item>img,
  .carousel-inner>.item>a>img {
    min-height: 250px;
    overflow: hidden;
    -webkit-filter: brightness(50%);
  }
  .home-solutions {
    padding: 20px 0;
  }
  .main-title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .home-solutions__cards {
    justify-content: space-around;
  }
  .home-road__block {
    background: rgba(0, 0, 0, 0.5);
    span {
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
  .home-reviews__title {
    margin: 0 auto 20px;
    font-size: 24px;
  }
  .home-partners__cards {
    justify-content: space-around;
    a {
      margin-bottom: 10px;
    }
  }
  .main-footer {
    padding: 20px 0;
  }
  .main-footer .container {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main-footer__social span {
    margin-top: 20px;
  }
  .main-footer__call {
    display: block;
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
  }
  .page-top .container {
    justify-content: center;
    align-items: center;
    min-height: 300px;
  }
  .page-top__content {
    width: auto;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .services-road__content {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .expert-what {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .expert-about {
    padding: 20px 0;
  }
  .ind-road__content {
    flex-flow: column wrap;
    justify-content: space-around;
  }
  .cloud-about {
    div {
      max-width: 100%;
    }
    &__img {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}